<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554586452353-43226icicskl32aiv3pq2nl9i31rmk1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554586452353-43226icicskl32aiv3pq2nl9i31rmk1t</string>
	<key>API_KEY</key>
	<string>AIzaSyCxfzg2wht957447WddgvJRIl4gqJjfLys</string>
	<key>GCM_SENDER_ID</key>
	<string>554586452353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chloe.Valence</string>
	<key>PROJECT_ID</key>
	<string>valence-f4258</string>
	<key>STORAGE_BUCKET</key>
	<string>valence-f4258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554586452353:ios:6c662b9ada92ccfa5c3880</string>
	<key>DATABASE_URL</key>
	<string>https://valence-f4258-default-rtdb.firebaseio.com</string>
</dict>
</plist>